body {
  margin: 0;
  padding: 0px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.705)), to(rgba(0, 0, 0, 0.664))), url(images/background.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.664)), url(images/background.jpg);
  background-size: cover ,auto;
  background-repeat: no-repeat;
  background-attachment: fixed,local;
}

.mhdr {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mhdr .navigator {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mhdr .navigator li {
  padding: 5px 15px;
}

.mhdr .navigator li::after {
  content: "";
  margin: auto;
  display: block;
  width: 0%;
  opacity: 0;
  height: 2px;
  border: 0px;
  background-color: currentColor;
  -webkit-transition: width 0.6s ease-in-out,opacity 1s ease-in-out;
  transition: width 0.6s ease-in-out,opacity 1s ease-in-out;
}

.mhdr .navigator li:hover::after {
  opacity: 1;
  width: 100%;
}

.mhdr img {
  margin-left: auto;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.mlnk {
  text-decoration: none;
  color: inherit;
}

.mlnk:visited {
  color: inherit;
}

#initial {
  position: fixed;
  z-index: 999999;
  inset: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0aabcf), to(#416141));
  background-image: linear-gradient(#0aabcf, #416141);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ad9898;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: opacity 1s ease ,-webkit-transform 1s ease;
  transition: opacity 1s ease ,-webkit-transform 1s ease;
  transition: opacity 1s ease ,transform 1s ease;
  transition: opacity 1s ease ,transform 1s ease ,-webkit-transform 1s ease;
}

#initial > div {
  height: 20vh;
  width: 20vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

#initial > div > div {
  margin: auto;
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 0;
  background-image: conic-gradient(red, blue, transparent, purple, transparent, red);
  -webkit-animation: rotateColor 1s ease-in-out infinite both;
          animation: rotateColor 1s ease-in-out infinite both;
  height: 100%;
  aspect-ratio: 1/1;
  -webkit-box-shadow: 0 0 3px 3px gray;
          box-shadow: 0 0 3px 3px gray;
}

@-webkit-keyframes rotateColor {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-filter: hue-rotate(30deg);
            filter: hue-rotate(30deg);
  }
}

@keyframes rotateColor {
  0% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-filter: hue-rotate(30deg);
            filter: hue-rotate(30deg);
  }
}

.activeNavBar {
  background-color: green;
}

body > .loginForm {
  aspect-ratio: 1.6/2;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: absolute;
  min-height: 300px;
  height: 70vh;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0 3px 2px white;
          box-shadow: 0px 0 3px 2px white;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

body > .loginForm h2 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  text-align: center;
  font-size: 3em;
  padding-top: 5px;
  padding-bottom: 50px;
  -webkit-text-decoration: 4px underline white;
          text-decoration: 4px underline white;
  text-underline-offset: 3px;
}

body > .loginForm label {
  color: white;
  margin: 10px 50px;
  font-size: 1.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body > .loginForm input {
  background-color: #bbb;
  outline: none;
  margin: 10px auto;
  display: block;
  width: 70%;
  padding: 5px 20px;
  font-size: 1.3em;
  border: 2px solid brown;
  border-radius: 234345px;
}

body > .loginForm .extra {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

body > .loginForm .extra a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  margin: 10px auto;
  color: #d3e2d7;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > .loginForm .extra a:visited, body > .loginForm .extra a:active {
  color: #c6dacb;
}

body > .loginForm .contacts {
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

body > .loginForm .contacts * {
  padding: 10px;
  cursor: pointer;
}

.btn {
  margin: auto;
  display: block;
  width: 40%;
  height: 40px;
  font-size: 1.3em;
  -webkit-box-shadow: 3px 3px 5px 2px cyan;
          box-shadow: 3px 3px 5px 2px cyan;
  background-color: cyan;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
}

.btn:active {
  color: #2600ff;
  background-color: cyan;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 255, 255, 0.568);
          box-shadow: 2px 2px 4px 2px rgba(0, 255, 255, 0.568);
}

.loginForm:focus-within {
  background-color: black;
}

#mainContentAbout {
  position: relative;
  background: black;
  color: white;
  font-family: brush script MT;
  width: clamp(300px, 50%, 100%);
  font-size: 30px;
  grid-auto-flow: row;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 50px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 2px 2px purple ,0px 0px 5px 5px navy;
          box-shadow: 0px 0px 2px 2px purple ,0px 0px 5px 5px navy;
  text-overflow: ellipsis;
  overflow: hidden;
}

#mainContentAbout addr {
  display: block;
}

#mainContentAbout img {
  -webkit-clip-path: circle(48% at 40% 50%);
          clip-path: circle(48% at 40% 50%);
  margin: 20px -1px;
}

#mainContentAbout rect {
  stroke-dasharray: 100%;
  stroke-dashoffset: 30px;
  stroke-width: 5px;
  stroke: cyan;
  -webkit-animation: roundBorder 3s linear infinite;
          animation: roundBorder 3s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  fill: none;
}

#bdRnd {
  padding: 0;
  top: 0px;
  display: block;
  left: 0px;
  margin: 0;
  position: absolute;
}

@-webkit-keyframes roundBorder {
  from {
    stroke-dashoffset: 0%;
  }
  to {
    stroke-dashoffset: 410%;
  }
}

@keyframes roundBorder {
  from {
    stroke-dashoffset: 0%;
  }
  to {
    stroke-dashoffset: 410%;
  }
}
/*# sourceMappingURL=utils.css.map */