body {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.705)), to(rgba(0, 0, 0, 0.664))), url(images/background.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.664)), url(images/background.jpg);
  background-size: cover ,100%;
  background-repeat: no-repeat;
  background-attachment: fixed,local;
}

.mhdr {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mhdr .navigator {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
}

.mhdr .navigator li {
  padding: 5px 15px;
}

.mhdr .navigator li::after {
  content: "";
  margin: auto;
  display: block;
  width: 0%;
  opacity: 0;
  height: 2px;
  border: 0px;
  background-color: currentColor;
  -webkit-transition: width 0.6s ease-in-out,opacity 1s ease-in-out;
  transition: width 0.6s ease-in-out,opacity 1s ease-in-out;
}

.mhdr .navigator li:hover::after {
  opacity: 1;
  width: 100%;
}

.mhdr img {
  margin-left: auto;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.mlnk {
  text-decoration: none;
  color: inherit;
}

.mlnk:visited {
  color: inherit;
}

#initial {
  position: fixed;
  z-index: 999999;
  inset: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0aabcf), to(#416141));
  background-image: linear-gradient(#0aabcf, #416141);
  color: #ad9898;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: opacity 1s ease ,-webkit-transform 1s ease;
  transition: opacity 1s ease ,-webkit-transform 1s ease;
  transition: opacity 1s ease ,transform 1s ease;
  transition: opacity 1s ease ,transform 1s ease ,-webkit-transform 1s ease;
}

#initial > div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 0;
  background-image: conic-gradient(red, blue, transparent, purple, transparent);
  -webkit-animation: rotateColor 1s ease-in-out infinite both;
          animation: rotateColor 1s ease-in-out infinite both;
  height: 20%;
  aspect-ratio: 1/1;
  -webkit-box-shadow: 0 0 3px 3px gray;
          box-shadow: 0 0 3px 3px gray;
}

/*#initial > div div {
  width: 85%;
  height: 85%;
  background-color: green;
}*/

@-webkit-keyframes rotateColor {
  0% {
    background-image: conic-gradient(from 90deg, red, blue, transparent, purple, transparent);
  }
  25% {
    background-image: conic-gradient(from 180deg, red, blue, transparent, purple, transparent);
  }
  75% {
    background-image: conic-gradient(from 270deg, red, blue, transparent, purple, transparent);
  }
  100% {
    background-image: conic-gradient(from 360deg, red, blue, transparent, purple, transparent);
  }
}

@keyframes rotateColor {
  0% {
    background-image: conic-gradient(from 90deg, red, blue, transparent, purple, transparent);
  }
  25% {
    background-image: conic-gradient(from 180deg, red, blue, transparent, purple, transparent);
  }
  75% {
    background-image: conic-gradient(from 270deg, red, blue, transparent, purple, transparent);
  }
  100% {
    background-image: conic-gradient(from 360deg, red, blue, transparent, purple, transparent);
  }
}
/*# sourceMappingURL=utils.css.map */