body
{
    position:relative;
    background:linear-gradient(rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.664)) ,url(images/background.jpg); 
    background-size: cover ,100%;
    background-repeat: no-repeat;
    background-attachment: fixed,local;
}
.mhdr
{
    color:white;
    display:flex;  
    .navigator
    {
        list-style-type:none;  
        display:flex; 
        font-size:1.2em;
        li
        {
            padding:5px 15px; 
        }
        li::after
        {
                content:"";
                margin:auto;
                display:block;
                width: 0%;
                opacity:0;  
                height:2px;
                border:0px;
                background-color:currentColor;
                transition: width 0.6s ease-in-out,opacity 1s ease-in-out;   
         }
        li:hover::after
        {
            opacity:1;  
            width:100%;
        }
        
    }
    img
    {
        margin-left:auto; 
        clip-path:circle();
    }
}

.mlnk
{
    text-decoration:none;  
    color:inherit;
}

.mlnk:visited
{
    color:inherit;
}
#initial
{
    position:fixed;
    z-index:999999;
    inset:0px;
    background-image:linear-gradient(rgb(10, 171, 207),rgb(65, 97, 65)) ;
    background-repeat:no-repeat;
    background-size:cover;  
    color:rgb(173, 152, 152);
    display: grid;
    place-items: center;
    transition:opacity 1s ease ,transform 1s ease; 
    &>div{
        height:20vh; 
        width:20vh;  
        position:relative;
        display:grid; 
        place-items:center;
        overflow:hidden;
    }
    &>div>div
    {  
        margin:auto;
        position:absolute;
        display: grid;  
        place-items:center;
        border:0;  
        background-image:conic-gradient(red,blue,transparent,purple,transparent,rgb(255, 0, 0,0.1) );
        animation: rotateColor 1s ease-in-out infinite both;
        height:100%;  
        aspect-ratio:1/1; 
        box-shadow: 0 0 3px 3px gray;
    }
}
@keyframes rotateColor{
    0%{ 
        transform:rotate(1turn); 
        }
}

@import "utils2";